.profile-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #eee;
}

.profile-wrapper .profile-card{
border-radius: 4px;
padding: 1rem;
border: 1px solid #ddd;
background: #fff;
width: 30%;
}
.profile-wrapper .profile-card img{
    background: #ddd;
    border: 1px solid #222;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.profile-card button{
    padding: 12px 18px;
    border-radius: 4px;

}